@import url('/css/media.css');

:root {
    --color-black: #232536;
    --color-yellow: #FFD050;
    --color-dark-grey: #4C4C4C;
    --color-medium-grey: #6D6E76;
    --color-purple: #592EA9;
    --color-light: #FFFFFF;
    --color-light-yellow: #FBF6EA;
    --color-light-grey: #F4F4F4;
    --color-lavender: #F4F0F8;
}

@font-face {
    font-family: 'Sen-Bold';
    src: url(/assets/fonts/Sen-Bold.ttf);
}
@font-face {
    font-family: 'Sen-Medium';
    src: url(/assets/fonts/Sen-Medium.ttf);
}
@font-face {
    font-family: 'Sen-Regular';
    src: url(/assets/fonts/Sen-Regular.ttf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1920px;
}
.header {
    display: flex;
    padding: 15px 60px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-black);
    max-height: 80px;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;

    .logo-title {
        color: var(--color-light);
        font-family: 'Sen-Bold';
        font-size: 36px;
    }
}

.nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.nav-list {
    display: flex;
    align-items:center;
    gap: 20px;
}

.nav-link {
    padding: 12px 20px;
    color: var(--color-light);
    transition: .0.9s;
    font-family: 'Sen-Regular';
    font-size: 16px;
    &:hover {
        background-color: var(--color-light);
        color: var(--color-black);
        border-radius: 20px;
    }
    
    &.active {
        cursor: default;
        background-color: var(--color-light);
        color: var(--color-black);
        border-radius: 20px;
    }
}
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 2px;
    width: 25px;
    background-color: var(--color-light);
    margin: 3px 0;
}

.menu-toggle.active .bar:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 8px; 
    transition: .5s;
}

.menu-toggle.active .bar:nth-child(2) {
    opacity: 0; 
}

.menu-toggle.active .bar:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -8px; 
    transition: .5s;
}

.main {
    display: flex;
    background-image: url('/assets/images/Overlay.png'), url('/assets/images/main.jpg');
    width: 100%;
    height: 720px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-info {
    display: flex;
    padding: 4vw 60px;
    flex-direction: column;
    width: 100%;
    gap: 4vw;
}

.hero-posted {
    color: var(--color-light-grey);
    font-family: 'Sen-Regular';
    font-size: 20px;
}

.posted-span {
    color: var(--color-light);
    font-family: 'Sen-Bold';
    font-size: 20px;
}

.hero-step {
    color: var(--color-light);
    font-family: 'Sen-Bold';
    font-size: 56px;

}

.hero-by {
    color: var(--color-light-grey);
    font-family: 'Sen-Regular';
    font-size: 16px;
}

.by-span {
    color: var(--color-yellow);
}

.hero-lorem {
    color: var(--color-light-grey);
    font-family: 'Sen-Regular';
    font-size: 16px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 16px 48px;
    background-color: var(--color-yellow);
    width: 205px;
    color: var(--color-black);
    font-family: 'Sen-Medium';
    font-size: 16px;
    &:hover {
        cursor: pointer;
        background-color: #EDC14A;
    }
}

.featured {
    display: flex;
    width: 100%;
    gap: 16px;
    justify-content: space-between;
    padding: 50px 60px;
}

.featured-left {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.left-title, .right-title {
    color: var(--color-black);
    font-family: 'Sen-Bold';
    font-size: 36px;
    white-space: nowrap;
}

.left-content {
    padding: 32px 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 1px solid var(--color-light-grey);
    height: 660px; 
}

.featured-image {
    width: 100%;
    background-size: contain;
}

.left-by {
    color: var(--color-dark-grey);
    font-family: 'Sen-Medium';
    font-size: 16px;

    .left-by-span {
        color: var(--color-purple);
    }
}

.left-lorem {
    color: var(--color-black);
    font-family: 'Sen-Medium';
    font-size: 28px;
}

.left-text {
    color: var(--color-medium-grey);
    font-family: 'Sen-Regular';
    font-size: 16px;
}

.featured-right {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 634px;
    
}

.posts-list {
    width: 100%;
    overflow-y: auto;
    height: 660px; 
    border: 1px solid var(--color-light-grey)
}

.posts-list::-webkit-scrollbar {
    width: 6px; /* Ширина скроллбара */
}

.posts-list::-webkit-scrollbar-track {
    background: #f1f1f1; /* Цвет фона дорожки скроллбара */
    border-radius: 10px; /* Скругление углов дорожки */
}

.posts-list::-webkit-scrollbar-thumb {
    background: var(--color-dark0-grey); /* Цвет скроллбара */
    border-radius: 10px; /* Скругление углов скроллбара */
}

.posts-list::-webkit-scrollbar-thumb:hover {
    background: var(--color-medium-grey) /* Цвет скроллбара при наведении */
}

.post {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 32px 32px;
    gap: 10px;
    .post-title{
        color: var(--color-black);
        font-family: 'Sen-Medium';
        font-size: 14px;
        .post-span {
            color: var(--color-purple);
        }
    }
    &:hover {
        background-color: var(--color-light-yellow);
        transition: .0.5s;
    }

    .post-subtile {
        color: var(--color-black);
        font-family: 'Sen-Bold';
        font-size: 24px;
    }
}

.about-mission {
    display: flex;
    padding: 146px 140px;
    background-color: var(--color-lavender);
    justify-content: space-between;
    margin: 0 auto;
    gap: 32px;
    width: 92%;
}

.about {
    display: flex;
    flex-direction: column;
    /* padding: 96px 80px; */
    gap: 16px;
    background-color: var(--color-lavender);
   
}

.mission {
    display: flex;
    flex-direction: column;
    /* padding: 96px 80px; */
    gap: 16px;
    background-color: var(--color-lavender);
   
}

.about-title, .mission-title {
    color: var(--color-black);
    font-family: 'Sen-Bold';
    font-size: 16px;
}

.about-subtitle, .mission-subtitle {
    color: var(--color-black);
    font-family: 'Sen-Bold';
    font-size: 36px;
}
.about-text, .mission-text {
    color: var(--color-black);
    font-family: 'Sen-Regular';
    font-size: 16px;
}

.about-more {
    color: var(--color-purple);
    font-family: 'Sen-Bold';
    font-size: 18px;
    
}

.categories, .authors {
    display: flex;
    flex-direction: column;
    padding: 50px 60px;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.category-title, .authors-title {
    color: var(--color-black);
    font-family: 'Sen-Bold';
    font-size: 36px;
}

.categories-list, .authors-list {
    display: flex;
    /* flex-wrap: wrap; */
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 32px;
    
}

.category-item {
    display: flex;
    flex-direction: column;
    padding: 32px;
    width: 296px;
    height: 228px;
    border: 3px solid var(--color-lavender);
    gap: 16px;
    &:hover {
        background-color: var(--color-yellow);
        cursor: pointer;
    }

    .item-image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        border-radius: 10px;
        background-color: var(--color-light-yellow);
    }
    .item-title, .item-name {
        color: var(--color-black);
        font-family: 'Sen-Bold';
        font-size: 28px;
    }
    .item-subtitle, .item-descr {
        color: var(--color-medium-grey);
        font-family: 'Sen-Regular';
        font-size: 16px;
        white-space: nowrap;
    }
}
.authors-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
    width: 296px;
    height: 324px;
    border: 1px solid var(--color-lavender);
    gap: 16px;
    background-color: var(--color-light-grey);
    &:hover {
        background-color: var(--color-light-yellow);
        cursor: pointer;
    }

    .item-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: var(--color-light-yellow);
    }
    .item-name {
        color: var(--color-black);
        font-family: 'Sen-Bold';
        font-size: 28px;
    }
    .item-descr {
        color: var(--color-medium-grey);
        font-family: 'Sen-Regular';
        font-size: 16px;
        white-space: nowrap;
    }
}

.testimonials {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin: 0 auto;
    width: 93%;
    background-color:var(--color-light-yellow);
    padding: 68px 112px;
}

.left-panel {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .left-panel-title {
        color: var(--color-black);
        font-family: 'Sen-Bold';
        font-size: 16px;
    }

    .left-panel-subtitle {
        color: var(--color-black);
        font-family: 'Sen-Bold';
        font-size: 36px;
    }
    .left-panel-text {
        color: var(--color-black);
        font-family: 'Sen-Regular';
        font-size: 16px;
    }
}

.divider {
    height: 310px;
    width: 1px;
    background-color: var(--color-medium-grey);
}

.right-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;

    .right-panel-message {
        color: var(--color-black);
        font-family: 'Sen-Bold';
        font-size: 24px;
    }
}

.right-panel-down {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.profile {
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 16px;

    .profile-desc {
        display: flex;
        flex-direction: column;

        .desc-title {
            color: var(--color-black);
            font-family: 'Sen-Bold';
            font-size: 24px;
        }
        .desc-subtitle {
            color: var(--color-medium-grey);
            font-family: 'Sen-Regular';
            font-size: 16px;
        }
    }
}

.profile-buttons {
    display: flex;
    align-items:center;
    gap: 20px;
}

.button-back, .button-next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: var(--color-light);
    border-radius: 50px;
    border: 3px solid var(--color-lavender);
    cursor: pointer;
    .arrow-left {
        width: 32px;
    }
    .arrow-right {
        width: 32px;
    }
    &:hover {
        background-color: var(--color-yellow);
    }
    
}

.item-media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.footer {
    display: flex;
    flex-direction: column;
    padding: 50px 60px;
    background-color: var(--color-black);
    width: 100%;
}

.footer-subscribe {
    display:flex;
    align-items: start;
    justify-content: space-between;
    gap: 16px;
    padding: 80px 64px;
    width: 100%;
    background-color: #2b2c3f;
}

.subscribe-buttons {
    display: flex;
    gap: 16px;
}

.subscribe-title {
    color: var(--color-light);
    font-family: 'Sen-Bold';
    font-size: 36px;
}

.custom-input {
    padding: 14px 25px;
    width: 324px; 
    height: 51px;
    background-color: #2b2c3f;
    border: 2px solid var(--color-dark-grey);
}

.subscribe-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 16px 48px;
    background-color: var(--color-yellow);
    width: 100%;
    color: var(--color-black);
    font-family: 'Sen-Medium';
    font-size: 16px;
    &:hover {
        cursor: pointer;
        background-color: #EDC14A;
    }
}

.blog-hero {
    display: flex;
    flex-direction: column;
    padding: 50px 60px 0 60px;
    
    
}
.container-bih {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 24px;
}

.bih {
    
    display: flex;
    gap: 16px;
    .bih-desc {
        display: flex;
        flex-direction: column;

        .desc-title {
            color: var(--color-black);
            font-family: 'Sen-Bold';
            font-size: 24px;
        }
        .desc-subtitle {
            color: var(--color-medium-grey);
            font-family: 'Sen-Regular';
            font-size: 16px;
        }
    }
}

.bih-startup {
    display: flex;
    gap: 16px;
    align-items: center;

}

.bih-step {
    color: var(--color-light);
    font-family: 'Sen-Bold';
    font-size: 56px;
}

.startup-title {
    color: var(--color-black);
    font-family: 'Sen-Bold';
    font-size: 24px;
}

.startup-image {
    display: flex;
    align-items:center;
    justify-content: center;
    
}

.blog-paragraph {
    display: flex;
    flex-direction: column;
    padding: 50px 60px;
    gap: 36px;
}

.blog-image {
    margin: 0 auto;
    width: 100%;
}

.paragraph-text {
    display: flex;
    flex-direction: column;
    
    gap: 16px;
    .text-title {
        color: var(--color-black);
        font-family: 'Sen-Bold';
        font-size: 32px;
    }

    .text-subtitle {
        color: var(--color-medium-grey);
        font-family: 'Sen-Regular';
        font-size: 16px;
    }
}

.main-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 60px;
    gap: 32px;
} 

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    .contacts-subtitle {
        color: var(--color-black);
        font-family: 'Sen-Bold';
        font-size: 20px;
        text-align: center;
    }

    .contacts-title {
        color: var(--color-black);
        font-family: 'Sen-Bold';
        font-size: 36px;
        text-align: center;
    }

    .contacts-text {
        color: var(--color-medium-grey);
        font-family: 'Sen-Regular';
        font-size: 16px;
        text-align: center;
    }
    
}

.contacts-hero {
    display: flex;
    justify-content: space-between;
    padding: 48px 64px;
    gap: 32px;
    width: 768px;
    background-color: var(--color-purple);
}

.contacts-hero-side {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .hero-side-title {
        color: var(--color-light-grey);
        font-family: 'Sen-Regular';
        font-size: 16px;
    }
    .hero-side-divider {
        height: 1px;
        width: 100%;
        background-color: var(--color-medium-grey);
    }
    .hero-side-content {
        display: flex;
        flex-direction: column;
        gap: 16px;
        .side-content-subtitle {
            color: var(--color-light);
            font-family: 'Sen-Bold';
            font-size: 20px;
        }

        .side-content-text {
            color: var(--color-medium-grey);
            font-family: 'Sen-Regular';
            font-size: 18px;
        }
    }

}
.contacts-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 768px;
}
.contact-input {
    padding: 14px 25px;
    width: 100%;
    height: 51px;
    border: 2px solid var(--color-light-grey);
}

.contact-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 16px 48px;
    background-color: var(--color-yellow);
    width: 100%;
    color: var(--color-black);
    font-family: 'Sen-Medium';
    font-size: 16px;
    &:hover {
        cursor: pointer;
        background-color: #EDC14A;
    }
}



























